@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@model Tienda_Linea.Models.Usuario

<h2 class="mb-5"> Tienda de Bicicletas </h2>
<div class="container" id="container">
    <div class="form-container sign-in-container w-100">
        @using (Html.BeginForm("RecuperarContraseña", "Auth", FormMethod.Post, new { id = "frmRecuperar" }))
        {
            <h1 style="color: #FF4B2B ">Recuperar Contraseña</h1>

            <span class="correo w-100 mt-5">
                @Html.TextBoxFor(m => m.Correo, new
                {
                    @name = "correo",
                    @id = "correo",
                    @class = "form-control",
                    @placeholder = "Correo",
                    @type = "text"
                })
                <label class="input_error text-danger mb-3"></label>
            </span>
            <button type="submit">Recuperar</button>
        }
    </div>
</div>
<!--El jquery se envia aqui porque en este punto ya la pagina cargo jquery-->
<script src="~/js/Validaciones.js"></script>

<!--Codigo para registrar las validaciones-->
<script>
    const frmRecuperar = new FormValidator("#frmRecuperar")

    //El id del primer parametro y la clase del span que lo contiene debe tener el mismo nombre para que funcione
    frmRecuperar.registerValidation("correo", validationCorreo);
</script>