@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Tienda_Linea.Models.Categoria

<div class="row">
    <div class="col-sm-12">
        <div class="card border-info">
            <div class="card-header bg-info text-white">
                Actualizar Categoria
            </div>
            @using (Html.BeginForm("Actualizarcategoria", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.IdCategoria, new { htmlAttributes = new { @class = "form-control" } })
                <div class="m-3 row w-100">
                    <div class="col-6 border d-flex flex-column align-items-center w-100">

                        <div class="row w-100">
                            <div class="form-group mt-2 w-100 d-flex flex-column align-items-center">
                                <label for="txtRucProveedor" class="col-form-label col-form-label-sm">Descripcion</label>
                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="row w-100">
                            <div class="form-group mt-2 w-100 d-flex flex-column align-items-center">
                                <label for="txtRucProveedor" class="col-form-label col-form-label-sm">Activo</label>
                                @Html.EditorFor(model => model.Estado)
                            </div>
                        </div>

                        <div class="row w-100 mb-2">
                            <div class="form-group w-100 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success" style="width:120px">Modificar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>