@Html.AntiForgeryToken()
<!---------catagory-banner-------->
<div class="main_breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="breadcrumb">
                <h3>Checkout</h3>
            </div>
        </div>
    </div>
</div>
<link href="~/css/base.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<div class="mt-5">
    <!--CART START-->
    <div class="extrow full-cart format_load">
        <div class="extsm-12">
            <div class="content-shopping-cart">
                <div class="extpanel extpanel-default">
                    <div class="extpanel-heading">
                        <h4 class="extpanel-title">
                            <i class="fa fa-shopping-cart"></i> Shopping Cart
                        </h4>
                    </div>
                        <div class="panel-body">
                            <div class="shopping-cart-content ext-carts min-hght">
                                <div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Producto</th>
                                                <th scope="col">Precio</th>
                                                <th scope="col">Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody id="cart-check-list">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!--CART END-->
    <div class="w-100 my-5 d-flex justify-content-center">
        <button onclick="confirmarCompra()" class="btn btn-success">Confirmar Compra</button>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/cargarCarrito.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    function cargarTabla() {

        $.ajax({
            type: 'GET',
            url: '/Home/GetCarrito',
            data: {},
            success: function (data) {
                if (data.respuestaLista != null) {
                    let product = ""
                    data.respuestaLista.forEach(element => {
                        product += "<tr>" +
                            "<td>" + element.NombreProducto + "</td>" +
                            "<td>" + element.PrecioProducto + "</td>" +
                            "<td>" + element.Cantidad + "</td>" +
                            "<td>" +
                            "<button class='btn btn-primary' onclick='aumentarCarritoTabla(" + element.IdProducto + ")'>+</button>" +
                            "<button class='btn btn-danger' onclick='disminuirCarritoTabla(" + element.IdProducto + ")'>-</button>" +
                            "</td>" +
                            "</tr>"
                        document.getElementById("cart-check-list").innerHTML = product;
                    })
                }
                else {
                    product = "<li><p class='text-center'>¡El carrito esta vacio!</p></li>"
                    document.getElementById("cart-check-list").innerHTML = product;
                }
            },
            error: function (data) {
                console.log('Error')
            }
        });
    }

    cargarTabla()

    function aumentarCarritoTabla(id) {
        $.ajax({
            type: 'POST',
            url: '/Home/AddCarrito',
            data: {
                "idProducto": id
            },
            dataType: 'json',
            success: function (data) {
                cargarTabla()
                cargarCarrito()
            },
            error: function (data) {
                console.log('Error')
            }
        });
    }

    function disminuirCarritoTabla(id) {
        $.ajax({
            type: 'POST',
            url: '/Home/DeleteCarrito',
            data: {
                "idProducto": id
            },
            dataType: 'json',
            success: function (data) {
                cargarTabla()
                cargarCarrito()
            },
            error: function (data) {
                console.log('Error')
            }
        });
    }

    function confirmarCompra() {
        $.ajax({
            type: 'POST',
            url: '/Home/CheckoutMethod',
            success: function (data) {
                swal("Gracias por preferirnos!", "El pedido fue enviado con exito!", "success");
                cargarTabla()
                cargarCarrito()
            },
            error: function (data) {
                console.log('Error')
            }
        });
    }
</script>