@{
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="main_padding mt-5">
    <div id="quickproduct" class="container-fluid popup_products_page mt-5" style="background-color:transparent; max-width: 100%;">
        <div id="product-product mt-5">
            <div class="row mt-5">
                <div id="content" class="mt-5">
                    <div class=" col-sm-6">
                        <ul class="thumbnails">
                            <li><a class="thumbnail" title="Kids Bicycle"><img id="ezoomer" src="~/image/png2-600x600.png" /></a></li>
                        </ul>
                        <ul class="thumbnails">
                            <div class="slider" id="porducts_images">
                            <li class="image-additional">
                                <a data-image="~/image/png8-600x600.png" data-zoom-image="~/image/png8-1000x1000.png">
                                    <img src="~/image/png8-80x80.png" />
                                </a>
                            </li>
                            <li class="image-additional">
                                <a data-image="~/image/png7-600x600.png" data-zoom-image="~/image/png7-1000x1000.png">
                                    <img src="~/image/png7-80x80.png" />
                                </a>
                            </li>
                            <li class="image-additional">
                                <a data-image="~/image/png3-600x600.png" data-zoom-image="~/image/png3-1000x1000.png">
                                    <img src="~/image/png3-80x80.png" />
                                </a>
                            </li>
                            <li class="image-additional">
                                <a data-image="~/image/png4-600x600.png" data-zoom-image="~/image/png4-1000x1000.png">
                                    <img src="~/image/png4-80x80.png" />
                                </a>
                            </li>
                            <li class="image-additional">
                                <a data-image="~/image/png16-600x600.png" data-zoom-image="~/image/png16-1000x1000.png">
                                    <img src="~/image/png16-80x80.png" />
                                </a>
                            </li>
                            <li class="image-additional">
                                <a data-image="~/image/png15-600x600.png" data-zoom-image="~/image/png15-1000x1000.png">
                                    <img src="~/image/png15-80x80.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <div class="product_right">
                            <p class="stock_option">In Stock</p>
                            <h1>Kids Bicycle</h1>
                            <ul class="list-unstyled main-price">
                                <div class="price">
                                    <li>
                                        <h2>$122.00</h2>
                                    </li>
                                </div>
                                <li>Ex Tax: $100.00</li>
                                <li>Price in reward points: 400</li>

                            </ul>
                        <hr />
                        <div id="product">
                            <h1>Available Options</h1>
                            <div class="form-group plus-minus-input">
                                <div class="qty_option_wrapper row">
                                    <div col-5>
                                        <label class="qty_option">Cantidad:</label>
                                        <input class="input-group-field count_option" type="number" name="quantity" value="1" id="input-quantity" class="form-control" />
                                        <input type="hidden" name="product_id" value="47" />
                                    </div>
                                    <div class="input-group-button add_to_cart_option col-5">
                                        <a href="wish-list.html">
                                            <button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block">
                                                <i class="fa fa-shopping-cart"></i>
                                                Add to Cart
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                </div>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
                            <!-- AddThis Button END  -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#quickproduct .image-additional a').click(function () {
        var thumb = $(this).attr('data-image');
        $('#ezoomer').attr('src', thumb);
    });
</script>